* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.first_section {
    background-image: url(images/developer.png);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text_container {
    color: white;
    max-width: 900px;
    /* max-height: 50px; */
    /* border: 2px solid white; */
    margin: 0 auto;
    padding-top: 20px;
    font-weight: 100;
    /* font-family: "Roboto", sans-serif; */
    padding-left: 50px;
    /* font-family: "Roboto", sans-serif; */
}

.large_text {
    font-size: 60px;
    font-weight: 400;
}

.text_container h2 {
    font-size: 30px;
}

.text_container h1 {
    text-transform: uppercase;
}


.second_section {
    background-color: black;
    min-height: 150px;
    color: white;
    /* margin-top: 40px; */
    text-align: center;
    /* justify-content: center; */
    /* font-family: "Roboto", sans-serif; */
}

.second_section h2 {
    padding-top: 20px;
    font-size: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.second_section span {
    font-weight: 400;
    font-size: 90px;
}

.card_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
    max-width: 1100px;
    margin: 50px auto;
}

.card_work {
    margin-top: 20px;
    max-width: 320px;
    /* margin: 0 auto; */
    height: 410px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
    transition: 0.2s ease-in-out;

    /* border: 2px solid black; */
}

.grid_texture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_content {
    padding: 15px;
}

.img_content h3 {
    margin-bottom: 10px;
    font-size: 24px;
}

.img_content p {
    /* text-align: justify; */
}

.card_work:hover {
    transform: scale(1.04);
    transition: 0.3s ease-in-out;
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.3);
    cursor: pointer;
}


.details {
    display: flex;
    max-width: 1fr;


}

.contact_details {
    background-color: #515603;
    /* max-width: 1fr; */
}


.about_details {
    /* max-width: 1fr; */
    background-color: #722300;
}

.contact_details,
.about_details {
    min-height: 300px;
    padding: 32px;
    color: white;
}

.contact_details h3,
.about_details h3 {
    font-size: 40px;
}

.contact_details p,
.about_details p {
    margin-top: 20px;
}

footer {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

footer p {
    font-size: 30px;
    color: white;
}