* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    border: 2px solid black;
}

.container {
    height: 100vh;
    border: 2px solid red;
    width: 100%;
    display: grid;
    /* gap: 1rem; */
    padding: 4rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);

}

.items {
    /* border: 2px solid blue; */
    border: 10px solid red;
    background-color: blue;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
}

.menu {
    grid-row-start: 2;
    grid-row-end: 4;
}


.main {
    grid-row-start: 2;
    grid-row-end: 5;
    /* grid-column-start: 2;
    grid-column-end: 5; */

}


.ad1 {
    grid-row-start: 2;
    grid-row-end: 5;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 4;
}